body.page-id-150 #site-header,
body.page-id-150 #site-content header.entry-header,
body.page-id-150 #site-content .sharedaddy  {
  display: none!important;
}
  body.page-id-150 #site-content .post-inner {
    padding: 0;
  }

#welcome {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  max-width: none;
  background-color: #fff;
  background-image: url(https://wordcamp.wpvigo.com/2024/images/2024.png);
  background-position: right 0 top 0;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 10;
}
  #welcome .wp-block-group__inner-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100%;
    max-width: 1200px;
  }
    #welcome h1 {
      position: relative;
      margin: 15px auto auto 0!important;
      font-size: 25px;
      font-weight: 600;
      text-transform: uppercase;
      font-family: Montserrat;
      text-align: right;
    }
    #welcome h1:before {

    }
    #welcome h2 {
      position: relative;
      margin: auto auto 45px 0!important;
      font-size: 25px;
      font-weight: 400;
      text-transform: uppercase;
      font-family: Montserrat;
      text-align: center;
    }
    #welcome figure {
      margin: auto auto auto 0!important;
    }
