#welcome {
  position: absolute;
  display: block;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  max-width: none;
  background-color: #fff;
  background-image: url(https://wordcamp.wpvigo.com/2024/images/2024.png);
  background-position: right 0 top 0;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 10;
}
  #welcome .wp-block-group__inner-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    max-width: 1200px;
  }
    #welcome h1 {
      position: relative;
      margin-block: 0 auto;
      font-size: 30px;
      font-weight: 700;
      text-transform: uppercase;
      top: 40px;
    }
    #welcome h2 {
      margin-block: auto 0
    }
    #welcome img {
      margin-block: auto;
    }
